@import '../../config/base.scss';

.activity{
  @include wrap_container;

  .content{
    min-height: 859px;
    box-sizing: content-box;
    overflow: hidden;
    background: #ffffff;

    .header{
      height: 60px;
      line-height: 60px;
      border-bottom: 1px solid $borderGray;
      padding: 0 20px;
      color: #222222;
      font-size: 16px;

      .but{
        float: right;
        width: 100px;
        height: 30px;
        margin-top: 15px;
        background: $orange;
        color: #ffffff;
        line-height: 30px;
        text-align: center;
        font-size: 14px;
        cursor: pointer;
      }
    }

    .list{
      padding: 0 20px;
      margin-top: 30px;
      border-bottom: 1px solid $borderGray;

      .top{
        font-size: 0;
        overflow: hidden;

        img{
          float: left;
          width: 375px;
          height: 134px;
        }

        .button{
          width: 100px;
          height: 30px;
          font-size: 14px;
          color: #FFFFFF;
          text-align: center;
          line-height: 30px;
          background: $orange;
          margin-top: 50px;
          float: left;
          margin-left: 300px;
          border: 1px solid $orange;
          cursor: pointer;
        }

        .delete{
          margin-left: 20px;
          background: #FFFFFF;
          color: $orange;
        }
      }

      .bot{
        margin-top: 30px;
        overflow: hidden;

        .text{
          width: 100%;
          padding-bottom: 20px;
          overflow: hidden;

          .left{
            width: 70px;
            float: left;
            font-size: 14px;
            line-height: 16px;
            color: #222222;
          }

          .right{
            width: 860px;
            float: left;
            font-size: 14px;
            line-height: 16px;
          }
        }
      }
    }
    .page{
      box-sizing: border-box;
      background-color: #fff;
      padding: 0 20px 0 20px;
      overflow: hidden;
      margin: 10px 0;

      .txt{
        line-height:20px;
        color:$blackfont;
        font-size:14px;
      }

      .ant-pagination-item-active{
        background: $orange;
        border-color:$orange;
      }
      .ant-pagination-item-active:focus,
      .ant-pagination-item-active:hover{
        background: $orange;
        border-color:$orange;
      }
      .ant-pagination-item:focus,
      .ant-pagination-item:hover{
        border-color: transparent;
        color: $blackfont;
      }

    }
  }
}
