@import '../../config/base.scss';

.delete{
  .mask{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.3);
  }

  .box{
    width: 368px;
    height: 169px;
    position: fixed;
    top: 40%;
    left: 50%;
    margin-top: -84.5px;
    margin-left: -184px;
    background: #ffffff;

    i{
      position: absolute;
      top: 10px;
      right: 20px;
      cursor: pointer;
    }

    p{
      font-size: 18px;
      color: #222222;
      text-align: center;
      padding: 44px 0 30px 0;
    }

    .but{
      width: 120px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      background: $orange;
      float: left;
      color: #ffffff;
      font-size: 14px;
      margin-left: 49px;
      cursor: pointer;
    }

    .but:last-child{
      margin-left: 30px;
      background: #c4c4c4;
    }
  }
}
