@import '../../config/base.scss';

.add-or-edit{
  .mask{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.3);
  }

  .box{
    width: 478px;
    height: 440px;
    position: fixed;
    top: 232px;
    left: 50%;
    margin-left: -239px;
    background: #ffffff;

    .header{
      height: 50px;
      line-height: 50px;
      color: #222222;
      font-size: 16px;
      padding-left: 20px;
      background: #e6e6e6;
      position: relative;

      i{
        color: #999999;
        position: absolute;
        right: 20px;
        top: 0;
        line-height: 50px;
        cursor: pointer;
      }
    }

    .text{
      height: 40px;
      line-height: 40px;
      padding: 0 40px 0 20px;
      margin-top: 20px;
      font-size: 14px;
      color: #c4c4c4;

      .left{
        width: 80px;
        text-align: right;
        float: left;

        span{
          color: $orange;
        }
      }

      .right{
        width: 300px;
        margin-left: 10px;
        float: left;

        input{
          width: 100%;
          height: 40px;
          border: 1px solid $borderGray;
          text-indent: 10px;
        }
      }
    }

    .but{
      width: 180px;
      height: 40px;
      background: $orange;
      margin: auto;
      line-height: 40px;
      text-align: center;
      color: #ffffff;
      font-size: 14px;
      margin-top: 50px;
      cursor: pointer;
    }
  }
}
